name: create s3 stack
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checout
        uses: actions/checkout@v2

      - name: create s3 stack
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # change "your.domain.name" to real domain you use.
          # this value has to be the same with the domain specified in "deploy-s3.yml"
          YOUR_DOMAIN_NAME: your.domain.name
          # change "your-stack-name" to unique name, like "autodeploy-guidebook-stack"
          YOUR_STACK_NAME: your-stack-name
        run: aws s3 cloudformation create-stack --template-body file://cloudformation.yaml --stack-name ${YOUR_STACK_NAME} --parameters ParameterKey=YourDomainName,ParameterValue=${YOUR_DOMAIN_NAME}
